.form_container {
  border: 1px solid black;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label,
select {
  margin-bottom: 5px;
}

button {
  margin-top: 5px;
}
